# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: rickychen-infinirc
          template: classic
          base: header, activity, community, repositories, metadata
          config_display: large
          config_timezone: Asia/Taipei

          # contributions calendar
          plugin_calendar: yes
          plugin_calendar_limit: 1

          #org
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_repositories: yes

          
          plugin_topics: yes
          plugin_topics_limit: 15
          plugin_topics_mode: starred
          plugin_topics_sort: stars
