# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # 基本設定
          user: rickychen-infinirc
          template: classic
          base: header, activity, community, repositories, metadata
          config_display: medium
          config_timezone: Asia/Taipei
          config_padding: 10
          config_animations: false


          plugin_calendar: yes
          plugin_calendar_limit: 1


          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_repositories: yes
